@import 'bootstrap-sprockets';
@import 'bootstrap';

.sign_up_btn {
  margin-top: 20px;
}

.field {
  margin-top: 20px;
}

.log_in {
  margin-top: 20px;
}

.forgot_password {
  margin-top: 20px;
}

.reset_password {
  margin-top: 20px;
}